{% include 'header.html.twig' %}
{% block body %}
    {#en attendant le css#}
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    {#en attendant le css#}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Register!</button>
    {{ form_end(form) }}
{% endblock %}
{% include 'footer.html.twig' %}